replicaCount: 1
image:
  repository: public.ecr.aws/d0p8w4f7/hello-svc
  pullPolicy: IfNotPresent
  tag: "{{ .Values.image.tag }}"
service:
  type: ClusterIP
  port: 80
  name: hello
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
ingress:
  enabled: true
  className: "alb"
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/healthcheck-path: /hello
    alb.ingress.kubernetes.io/group.name: myapp1
    alb.ingress.kubernetes.io/load-balancer-name: "${ENVIRONMENT}-microservices-alb"
    # alb.ingress.kubernetes.io/certificate-arn: "${ACM}"
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/listen-ports: "[{\"HTTP\":80},{\"HTTPS\":443}]"
  hosts:
    # - host: hello.${ENVIRONMENT}.devops4solutions.com
      paths:
        - path: /hello
          pathType: Prefix
livenessProbe:
  httpGet:
    path: /hello
    port: http
readinessProbe:
  httpGet:
    path: /hello
    port: http
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80